.menu {
  background-color: #2c3e50;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 1000; */
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.menu-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #3498db;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-button:hover {
  color: #3498db;
}

.menu-button:hover::after {
  transform: scaleX(1);
}

.dropdown {
  position: relative;
}

.dropdown-toggle::after {
  content: "\25BC";
  font-size: 10px;
  margin-left: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  right: 0;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  background-color: #3498db;
  color: white;
}

.menu-items li:last-child {
  margin-right: 20px;
}
